.mapContainer {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.lightMap,
.darkMap {
  max-width: 100%;
  height: auto;
}

.darkMap {
  display: none;
}

:global(html.dark) .lightMap {
  display: none;
}

:global(html.dark) .darkMap {
  display: block;
}
